@import url('https://fonts.googleapis.com/css?family=Cutive Mono');

table {
	
	margin-left : 10px;
	margin-top : 30px;
	position : relative;
	top : 12px;
}

.main {
	height: 340px;
	background-image : url("imgs/base.png");
	background-repeat: no-repeat;
	
}


.screen {
	height : 79px;
	width : 229px;
	background-image : url("imgs/scrn.png");
	background-repeat: no-repeat;
	text-align : right;
	color : #ffffff;
	font-family: 'Cutive Mono';
	margin : auto;
	

}

.screenUpper {
	height : 20px;
	width : 180px;
	overflow : hidden;
	margin : auto;
	font-size : 12px;
}

.screenLower {
	height : 30px;
	width : 180px;
	overflow : hidden;
	margin : auto;
	font-size : 20px;
}

<<<<<<< HEAD
.square {
	background-image : url("imgs/square_1.png");
	background-repeat : no-repeat;
	background-position : center;
	height : 41px;
	width : 54px;
	text-align : center;
	box-shadow: 0px 0px 4px 2px #000000;
}

.tall {
	background-image : url("imgs/tall_1.png");
	background-repeat : no-repeat;
	background-position : center;
	height : 87px;
	width : 53px;
	text-align : center;
	box-shadow: 0px 0px 4px 2px #000000;
}

.wide {
	background-image : url("imgs/wide_1.png");
	background-repeat : no-repeat;
	background-position : center;
	height : 41px;
	width : 112px;
	text-align : center;
	box-shadow: 0px 0px 4px 2px #000000;
	
}

img {
    opacity: 0.6;

}
=======
>>>>>>> 91153b10a5bb722478c628f5c2214741cc033298


	